* {
  /* Global */
  --mobile-view-breakpoint: 767px;
  --tablet-view-breakpoint: 1023px;

  /* Navbar */
  --nav-default-text-color: #191816;
  --nav-hover-text-color: #0a0a0a;
  --nav-main-bg-color: #ffffff;
  --nav-dropdown-bg-color: #ffebdc;
  --nav-submenu-tile-color: #ddbfaf;
}
